{% extends "base.html" %}

{% block title %}Door Control{% endblock %}

{% block scripts %}
<script type="text/javascript">
setTimeout("location.reload(true);", 2000);
</script>
{% endblock %}

{% block body %}
<div id="user_info">
    Hi, {{ user.username }}! <a href="{% url logout %}">Logout</a>
</div>

<form action="{% url home %}" method="post">
    {% csrf_token %}
    <p>
    {% if is_locked %}
    <input type="submit" value="Unlock Door"/> 
    {% else %}
    <input type="submit" value="Lock Door"/> 
    {% endif %}
    </p>
</form>
</div>
{% endblock %}
